*{
    font-family: Arial, Helvetica, sans-serif;
}
section{
  height: 700px;
  width: 850px;
}


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #4e4e4e;
    text-align: center;
    padding: 25px 42px;
    text-decoration: none;
    font-size: 23px;
    border-radius: 15px;
    font-weight: bold;
    word-spacing: 5px;
 
  
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(29, 0, 126);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #362cc8;
    color: white;
  }
  .titulo_s {
    float: left;
    margin-left: 9% ;
    color: #362cc8;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 80px;

  }
  .fondoBlueito{
    position: absolute;
    margin-left: 55% ;
    z-index: -1;
    height: 220px;
    width: 820px;
    background: #E9F2FD;
    opacity: 50;

}

.triangulo_a{
    width: 0;
    height: 0;
    border-top: 100px solid #E9F2FD;
    border-right: 110px solid transparent;
    border-left: 110px solid transparent;
    opacity: 50;
    
}
.triangulo_arriba{
  width: 0;
  height: 0;
  border-right: 160px solid transparent;
  border-bottom: 125px solid #f0f6ff;
  border-left: 160px solid transparent;
  
  }

.triangulo_i{
  width: 0;
  height: 0;
  border-top: 150px solid transparent;
  border-right: 120px solid #E9F2FD;
  border-bottom: 150px solid transparent;
  opacity: 50;
  }
  .triangulo_d{
      width: 0;
      height: 0;
      border-top: 150px solid transparent;
      border-bottom: 150px solid transparent;
      border-left: 120px solid #E9F2FD;
      opacity: 50;
  }

.imgd{
    background-image: url(../CSS/Vacuna.jpg);
    background-size: cover;

    background-repeat: no-repeat;
    background-position: bottom right;
    transform: translateX(1000px) translateY(90px);
    

   
}
.imgd2{
  background-image: url(../CSS/doctor.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  background-position: bottom right;
  transform: translateX(1000px) translateY(-500px);
}
.imgi{
  background-image: url(../CSS/cubre.png);
  background-size: cover;

  background-repeat: no-repeat;
  background-position: bottom left;


 
}
#p1{
    float: left;
    position: absolute;
    margin-left: 9%;
    top: 100px;
    left: 80px;
}
#p2{
  float: left;
  margin-left: 9%;
  top: 100px;
  left: 80px;

}
#p3{
  float: right;
  margin-left: 9%;
  top: 100px;
  left: 80px;

}

.titulo_g{
    color: #362cc8;
    font-size: 60px;
    font-weight: bold;

  
}
.parrafo_n{
    color: #787788;
    font-size: 25px;
}
.parrafo_c{
  color: #787788;
    font-size: 20px;
}
.parrafo_cc{
  color: #787788;
    font-size: 17px;
}
.texto_n{
  color: #362cc8;
   font-size: 15px;
  font-weight: bold;
}
.texto_a{
  color: #271ccc;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}
.texto_b{
  color: #ffffff;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}
.texto_g{
  color: #362cc8;
  font-size: 25px;
  font-weight: bold;
}

.rect{
  width: 1100px;
  height: 160px;
  background-color: #FDFDFF;
  border-radius: 5px;
  box-shadow: 2px 5px 10px gray;
  margin-top: 6%;
  margin-left: 13%;

}
.rect_d{
  width: 350px;
  height: 400px;
  background-color: #FDFDFF;
  border-radius: 5px;
  box-shadow: 2px 5px 10px gray;

}
.cuadrado{
  width: 250px;
  height: 250px;
  background-color: #FDFDFF;
  border-radius: 10px;
  box-shadow: 2px 5px 10px gray;

}
.icon{
  color: #362cc8;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;

}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.rec_c{
  position: absolute;
  height: 100px;
  width: 210px;
  background: #362cc8;
  border-radius: 15px;

}
.rec_l{
  width: 690px;
  height: 80px;
  background-color: #FDFDFF;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  margin-top: 6%;
  margin-left: 13%;
}
.rec_ll{
  width: 690px;
  height: 150px;
  background-color: #FDFDFF;
  border-radius: 5px;
  box-shadow: 2px 5px 5px gray;
  margin-top: 6%;
  margin-left: 13%;
}
.rec_ub{
  position: absolute;
  height: 100px;
  width: 210px;
  background: #362cc8;
  border-radius: 15px;
}
.rec_ug{
  position: absolute;
  height: 90px;
  width: 200px;
  background: #E9F2FD;
  border-radius: 15px;

}
.rec_abajo{
  position: absolute;
  float: left;
  height: 500px;
  width: 1850px;
  background: #e1edfc;
}

.letras_b{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #FDFDFF;
  margin-top: 16%;
}